<!DOCTYPE html>
<html lang="it">
<head>
    <title>Add Military Information</title>
</head>
<body>
    <form method="post">
        Country Name: <input type="text" name="country_name" required><br>
        Population: <input type="number" name="population" required><br>
        Military Personnel: <input type="number" name="military_personnel" required><br>
        Under Age Population: <input type="number" name="under_age_population" required><br>
        GDP: <input type="number" name="gdp" required><br>
        Tanks: <input type="number" name="tanks" required><br>
        Aircraft Carriers: <input type="number" name="aircraft_carriers" required><br>
        Military Spending: <input type="number" name="military_spending" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
